p {
    font-size: 0.85rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(68, 68, 68)
}
h2{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(37, 37, 37);
}

.mainInfo{
    display: grid;
    grid-template-columns: 2fr 1fr;    
    padding: 2rem 2rem;
    gap: 2rem;
    background-color: black;
}

.loadInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    border-radius: 0.85rem;
    background-color: rgba(128, 128, 128, 0.637);
}

.gridSidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    padding: 2rem;
    border-radius: 0.85rem;
    background-color: rgba(128, 128, 128, 0.637);
}

.gridResult{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link{
    text-decoration: none;
    color: rgb(163, 26, 26); 
}

.linkButtons{
    text-decoration: none;
    display: block;
    padding: 1.25rem 2rem;
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 5rem;
    color: rgb(37, 37, 37);
    font-weight: 500;
    
}

.buttonsContainer{
    display: flex;
    width: 90%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.loading{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10rem;
    background-color: rgb(223, 223, 223);
}

.loading h3{
    color: rgb(163, 26, 26);    
}

@media screen and (max-width: 890px) {
    .gridSidebar {
        display: none;
    }
    .mainInfo{
        display: block;
    }
}