.headerDiv{
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    justify-content: flex-start;
    background: black;
    z-index: 100;
}


h1{
    color: rgb(163, 26, 26);
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.logo{
    margin: 0 2rem;
}

input{
    width: 220px;
    height: 20px;
    padding: 0.25rem;
    border-radius: 1rem;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(146, 5, 5);
    font-size: 0.75rem;
    font-weight: 500;
}

input:hover {
    border: 2px solid #999;
}

input:focus {
    border: 1px solid #8f0303;
    outline: none; 
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    h1{
        font-size: 1rem;
    }
    input{
        width: 180px;
    }
    
}