.postInfoCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 5px auto;
    width: 70%;
}

.loading{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10rem;
}

@media screen and (max-width: 500px) {
    .postInfoCard {
        width: 90%;
    }    
}