.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.3);
}

.card span{
    color: rgba(20, 20, 20, 0.733);
}

.cardInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem  
}

.cardInfo div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
    
}


.cardInfo img{    
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.cardInfo p{
    color: rgb(163, 26, 26);
    font-weight: 700;
    font-size: 0.7rem;
}

.text{
    max-height: 250px;
    overflow: hidden;
    line-height: 1.5rem;
}

.card.fullText .text {
    max-height: none;
    overflow: visible;
    line-height: normal;
}

.thumbnail{
    margin: 0 auto;
    width: 70%;
    height: auto;
    overflow: hidden;
}

.thumbnail img {
    max-width: 100%;
    object-fit: cover;
}

.embdedInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 80%;
}

.videoPlayer{
    width: 75%;
    height: auto;
}

