.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.932);
    padding: 10px 20px;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.3);
    min-height: 250px;
}

.card span{
    color: rgba(20, 20, 20, 0.959);
    font-size: 0.7rem;
}

.cardInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(168, 168, 168, 0.418); 
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.cardInfo div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
    
}

.cardInfo img{    
    border-radius: 50%;
}

.cardInfo p{
    color: rgb(214, 6, 6);
    font-weight: 700;
    font-size: 0.7rem;
}

.subredditLink{
    text-decoration: none;
    color: rgb(230, 12, 12);
    font-weight: 700;
    font-size: 0.7rem;
}

.text{
    max-height: 250px;
    overflow: hidden;
    line-height: 1.5rem;
}

.card.fullText .text {
    max-height: none;
    overflow: visible;
    line-height: normal;
}

.card.fullText {
    width: 90%;
}

.thumbnail{
    margin: 0 auto;
    padding: 1rem 0;
}

.thumbnail img {
    max-width: 100%;
    object-fit: cover;
    max-height: 600px;
}

.embdedInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem 0;
}

.alinks a{
    overflow-wrap: anywhere;
}

.video{
    height: 400px;
    width: 400px;
}
@media screen and (max-width: 440px) {
    .cardInfo{
        gap: 0.5rem;
    }
    .author{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .video{
        height: 350px;
        width: 300px;
    }     
}

