.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: rgba(248, 244, 244, 0.637);
    border-radius: 0.25rem;
    
}

.cardTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem  
}
.cardTitle img, .cardTitle i {    
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.subredditName {
    color: rgb(163, 26, 26);
    font-weight: 700;
    font-size: 0.85rem;
}

.text p{
    font-size: 0.70rem;
}